/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.primero {
    background-color:#f7de82;
    display: block;
    height: 650px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10% 10px 10%;
}

.lista{
    width: auto;
    height: auto;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.li {
padding: 10px 30px 10px 30px;
color: #0005ff;
}

#icono{
    align-items: center;
}

.conteinerUno {
    text-align: left;
    justify-items: center;
    margin: 150px 150px 150px 130px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    /* "pokeUno"
    "pokeDos"
    "pokeTres"; */
    "uno dos"
    "tres";
    column-gap: 10px;
}

.divsito{
    grid-column: 1;
    height: auto;
    width: auto;
}

.pokeUno{
    padding-top: 12px;
}

.divsitoDos{
    grid-column: 2;
    grid-row: 1/3;
    width: auto;
}

.pokeDos {
    width: 300px;
}

.pokeTres{
    grid-column: 1;
    width: auto;
    height: auto;
    font-size: 20px;
}


.botoncito {
    width: 180px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 10px;
    color: #f7de82;
    background-color:#0005ff;
    grid-column: 1;
    padding: 10px;
    letter-spacing: 2px;
    cursor: pointer;
}

.conteinerDos{
    text-align: center;
    padding: 30px;
    background-color: #0005ff;
}

h1{
    color: #f7de82;
    font-size: 60px;
    height: 50px;
}

.texto {
    color: honeydew;
}

.divTarjetas {
    padding: 50px 10px 50px 10px;
    display: flex;
    justify-content: space-around;
    
}

.tarjetaAgua {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarjetaRayo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  

.tarjetaFuego {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  

.textoSegundo{
    color:honeydew;
    width: 200px;
}

.conteinerTres{
    background-color: white;
    padding: 50px;
    text-align: center;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "uno dos tres"
    "cuatro cinco seis";
    gap: 10px;
}

h2{
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}

.tarjetaUno{
    width: 300px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 11px 12px 5px 0px rgba(0,0,0,0.41);
-webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.41);
-moz-box-shadow: 11px 12px 5px 0px rgba(0,0,0,0.41);
}

.botoncitoDos{
    width: 100px;
    background: #f7de82;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

h3 {
    font-size: 30px;
    letter-spacing: 2px;
}

.pTarjetas {
    font-size: 25px;
}

.Stock {
    background-color: red;
    font-size: 20px;
    margin: 0 auto;
    color: white;
    width: 190px;
}

.botoncitoDosFuego {
    width: 100px;
    background: gray;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.cuarta {
    background-color: rgb(184, 184, 184);
    padding-bottom: 50px;

}

.tituloCuatro {
    color: rgb(39, 50, 120);
    text-align: center;
    font-weight: normal;
}

.pCuatro {
    color: rgb(39, 50, 120);
    text-align: center;
    display: flex;
    justify-content: center;
}
.conteinerCuatro {
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin: 50px 130px 50px 130px;
    padding: 80px 50px 80px 50px;
}

.agua {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.pAgua {
    padding-left: 15px;
}

.rayo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.pRayo {
    padding-left: 15px;
}

.divPrecio {
    display: flex;
    text-align: left;
    justify-content: flex-end;
}

.pPrecio {
    padding-right: 10px;
    font-weight:bold ;
    color: #0005ff;
}

.bFinalizar {
    background-color: #f7de82;
    font-weight: bold;
    color: black;
    border-radius: 30px;
    height: 45px;
    width: 250px;
    margin-left: 35%;
    cursor: pointer;
}

.quinta {
    background: #0005ff;
}

.tituloFooter {
    display: flex;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 50px;
}

.divFinal {
    color: white;
    display: flex;
    justify-content: space-around;
}

.h5Final {
    display: flex;
    justify-content: center;
    color: white;
    letter-spacing: 2px;
    padding-top: 30px;
}

@media (max-width: 640px) {

    .conteinerUno {
        text-align: left;
        justify-items: center;
        margin: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        /* "pokeUno"
        "pokeDos"
        "pokeTres"; */
        "uno dos"
        "tres";
        column-gap: 10px;
    }
    
    .pokeUno {
        width: 200px;
    }

    .divsito{
        width: auto;
    }

    .pokeDos {
        width: 200px;
    }

    .divsitoDos {
        width: 200px;
    }

    .pokeTres{
        font-size: 15px;
    }

    .botoncito {
        width: 112px;
        font-size: 9px;
        padding: 5px;
        letter-spacing: 0px;
    }

    .primero {
        background-color:#f7de82;
        display: block;
        height: 500px;
    }

    h1 {
        font-size: 30px;
        height: 40px;
    }

    .divTarjetas {
        padding: 50px 10px 50px 10px;
        display: flex;
        justify-content: space-around;
        
    }
    
    .tarjetaAgua {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tarjetaAgua {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tarjetaAgua {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }  
    
    .textoSegundo{
        color:honeydew;
        width: 200px;
    }

    .aguaLogo {
        width: 80px;
    }

    .rayoLogo {
        width: 80px;
    }

    .fuegoLogo {
        width: 80px;
    }

    .textoSegundo {
        color: honeydew;
        width: 140px;
        font-size: 15px;
    }

    .tarjetaUno{
        width: 170px;
        padding: 15px 0 0 0;
    }
    
    .squirtle {
        width: 70px;
    }

    .pikachu {
        width: 70px;
    }

    .charizard {
        width: 70px;
    }

    .botoncitoDos{
        width: 88px;
        padding: 2px;
        margin: 10px;
    }
    
    h3 {
        font-size: 18px;
        letter-spacing: 2px;
    }
    
    .pTarjetas {
        font-size: 17px;
    }
    
    .Stock {
        font-size: 14px;
        width: 125px;
    }
    
    .botoncitoDosFuego {
        width: 88px;
        padding: 2px;
        margin: 10px;
    }

    .pCuatro {
        padding: 10px;
    }

    .conteinerCuatro {
        margin: 50px;
        padding: 65px 50px 65px 50px;
    }

    .bFinalizar {
        margin: 10px 0 0 20%;
    }
}


@media (min-width: 640px) and (max-width: 1000px){

    .conteinerUno {
    text-align: left;
    justify-items: center;
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    /* "pokeUno"
    "pokeDos"
    "pokeTres"; */
    "uno dos"
    "tres";
    column-gap: 10px;
}

.pokeUno {
    width: 400px;
}


.pokeDos {
    width: 300px;
}

.pokeTres{
    font-size: 20px;
}

.botoncito {
    width: auto;
    font-size: 15px;
    padding: 10px;
    letter-spacing: 0px;
}

.primero {
    background-color:#f7de82;
    display: block;
    height: 600px;
}

h1 {
    font-size: 45px;
    height: 40px;
}

.texto {
    font-size: 20px;
    letter-spacing: 1px;
}

.divTarjetas {
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: space-around;
    
}

.tarjetaAgua {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarjetaAgua {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarjetaAgua {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  

.textoSegundo{
    color:honeydew;
    width: 200px;
}

.aguaLogo {
    width: 100px;
}

.rayoLogo {
    width: 100px;
}

.fuegoLogo {
    width: 100px;
}

.textoSegundo {
    color: honeydew;
    width: 170px;
    font-size: 17px;
}

.conteinerTres {
    align-items: center;
}

.tarjetaUno{
    width: 190px;
    padding: 15px 0 0 0;
    margin-left: 50px;
}

.squirtle {
    width: 90px;
}

.pikachu {
    width: 90px;
}

.charizard {
    width: 90px;
}

.botoncitoDos{
    width: 100px;
    padding: 2px;
    margin: 10px;
}

h3 {
    font-size: 20px;
    letter-spacing: 2px;
}

.pTarjetas {
    font-size: 20px;
}

.Stock {
    font-size: 16px;
    width: 150px;
}

.botoncitoDosFuego {
    width: 100px;
    padding: 2px;
    margin: 10px;
}

.tituloCuatro {
    font-size: 50px;
    height: auto;
    padding-top: 10px[];
}

.pCuatro {
    font-size: 20px;
    padding: 10px;
}

.conteinerCuatro {
    margin: 50px;
    padding: 75px 60px 75px 60px;
}

.bFinalizar {
    margin: 20px 0 0 32%;
}

}
